{%extends 'base/base.html'%}
{%block title%}Eliminar Mascota{%endblock%}
{%block content%}
    <h1>{{tipo}}</h1>

    <div class="m-5">
        <h2>Datos del dueño de la mascota:</h2>
        <ul>
            <li>
                Nombre: {{ persona.nombre }}
            </li>
            <li>
                Apellido: {{ persona.apellido }}
            </li>
            <li>
                Edad; {{ persona.edad }}
            </li>
             <li>
                Tel: {{ persona.telefono }}
            </li>
             <li>
                Email: {{ persona.email }}
            </li>
             <li>
                Domicilio: {{ persona.domicilio }}
            </li>
        </ul>
        <a type="button" href="{% url 'mascota:api_list' tipo %}" class="btn btn-primary">Regresar</a>
    </div>




{%endblock%}